<launch>

	  <!-- Load the TortoiseBot URDF model into the parameter server -->  
   <param name="robot_description" textfile="$(find swarm_simulation)/description/model.urdf"/>
 
  
	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name="world_name" value="$(find swarm_simulation)/worlds/world_1.world"/>
		<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="recording" value="false"/>
    	<arg name="debug" value="false"/>
  	</include>



	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model model -x 3 -y 0 -z 0.5"/>

	<node pkg="swarm_simulation" type="range_to_laser_scaner_v040618.py" name="range_to_laser_scaner_v040618"/>

	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

	<node pkg="tf" type="static_transform_publisher" name="laser_base_to_robot_base" args="0 0 0 0 0 0 base_link RangeLaserFrame  100" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" args="scan:=laser/laser_scan" />

	<node pkg="rviz" type="rviz" name="rviz"/>

	
</launch>
